{
  "presets": [
    ["es2015",  { "modules": false }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "~theme"
      }
    ]]
  ]
}