/*
* main
*/
$max-width:         1220px;
$min-width:         960px;

//font
$font-family:		"Microsoft YaHei",Arial,sans-serif,"PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","WenQuanYi Micro Hei"; 

// color palette
// ====================
$main:              #2dbe60;
$secondary:         #7abcef;
$green:             $main;
$blue:              $secondary;
$orange:            #ff7200;
$purple:            #626dde;
$white:             #ffffff;
$black:				#000000;
$red:               #ff3e3e;
$yellow:            #ffae00;
$lightgray:         #f5f5f5;
$blue-dark:         #65aae0;
$blue-darker: 		#009bfa;
$border-color:      #ececec;

$green-dark:        #11a746;

// gray

$gray-lightest:     #f6f6f6; // background
$gray-lighter:      #ececec; // border
$gray-light:        #999999; // sub text
$gray:              #666666; // normal text
$gray-dark:         #333333;


// theme

$primary: $green;
$success: $green;
$info:    #B0B0B0;
$warning: $orange;
$danger:  $red;
$quirk:   $purple;

// theme derivative

$primary-dark:  $green-dark;

// cover
// ====================

$cover-black: rgba(0, 0, 0, .1);
$cover-main: rgba(0, 0, 0, .5);
$cover-white: rgba(255, 255, 255, .1);

// boder
// ====================

// width

$border-thin: 1px;
$border-bold: 2px;

// color

$border-light: $gray-lighter;
$border-dark:  #d3d3d3;

// shortcut

$border-default: $border-thin solid $border-light;
$border-main:    $border-thin solid $main;
$border-control: $border-thin solid $border-dark;  // border for controls

// size
// ====================

$size-base: 14px;
$size-h1:   24px;
$size-h2:   18px;
$size-h3:   16px;       // title text
$size-h4:   $size-base; // normal text
$size-h5:   12px;       // sub text

// line height
// ====================

$line-height-base: 1.71;
$line-height-computed: $line-height-base * $size-base;

// gap
// ====================

$gap-v:         10px;
$gap-v-half:    $gap-v / 2;
$gap-v-quarter: $gap-v / 4;
$gap-v-double:  $gap-v * 2;
$gap-v-trible:  $gap-v * 3;
$gap-h:         10px;
$gap-h-half:    $gap-h / 2;
$gap-h-quarter: $gap-h / 4;
$gap-h-double:  $gap-h * 2;
$gap-h-trible:  $gap-h * 3;

// radius
// ====================

$radius-pill:   500px;
$radius-square: 0;
$radius-circle: 50%;

$radius-lg:     5px;
$radius-md:     3px;
$radius-sm:     2px;

// layout
// ====================

$site-width:  1200px;
$site-height: 400px; // 最低高度

// z-index
// ====================

$z-index-header:  1000;
$z-index-footer:  1000;
$z-index-suspend: 1000;
$z-index-dialog:  1010;
$z-index-tip:     9999;

// modifiers
// ====================

// theme

$theme-primary: 'primary';
$theme-success: 'success';
$theme-danger:  'danger';
$theme-info:    'info';
$theme-warning: 'warning';
$theme-disable: 'disable';
$theme-quirk:   'quirk';

// dimension

$dim-sm: 'sm';
$dim-md: 'md';
$dim-lg: 'lg';

// shape

$shape-none:   'none';
$shape-round:  'round';
$shape-pill:   'pill';
$shape-circle: 'circle';
$shape-square: 'squar';

// border

$border-none:   'none';
$border-solid:  'solid';
$border-dashed: 'dashed';

// filling

$filling-solid:  'solid';
$filling-hollow: 'hollow';

// state

$state-edit:    'edit';
$state-visible: 'visible';
$state-active:  'active';
$state-focus:   'focus';
$state-expand:  'expand';
$state-disable: 'disabled';

// direction

$direction-n:  'n';  // north
$direction-s:  's';  // south
$direction-w:  'w';  // west
$direction-e:  'e';  // east
$direction-nw: 'nw'; // north west
$direction-ne: 'ne'; // north east
$direction-sw: 'sw'; // south west
$direction-se: 'se'; // south east

//position
$header-height:64px;
$leftBarWidth:200px;

//button
$button-create-bg-color:#45c36e;
