/*
* main
*/
$container-width:         900px;

//font
$font-family:		"Microsoft YaHei",Arial,sans-serif,"PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","WenQuanYi Micro Hei"; 

// color palette
// ====================
$main:              rgb(93,172,129);
$white:             #fff;



// size
// ====================

$size-base: 14px;
$size-h1:   24px;
$size-h2:   18px;
$size-h3:   16px;       // title text
$size-h4:   $size-base; // normal text
$size-h5:   12px;       // sub text




