.el-dragger__cover:after{
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle;
}
.el-progress-bar__inner:after{
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle;
}@charset "UTF-8";
@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}
.el-progress{
    position: relative;
    line-height: 1;
}
.el-progress.is-exception .el-progress-bar__inner{
    background-color: #ff4949;
}
.el-progress.is-exception .el-progress__text{
    color: #ff4949;
}
.el-progress.is-success .el-progress-bar__inner{
    background-color: #5dac81;
}
.el-progress.is-success .el-progress__text{
    color: #5dac81;
}
.el-progress__text{
    font-size: 14px;
    color: rgb(72, 87, 106);
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    line-height: 1;
}
.el-progress__text i{
    vertical-align: middle;
    display: block;
}
.el-progress--circle{
    display: inline-block;
}
.el-progress--circle .el-progress__text{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    transform: translate(0, -50%);
}
.el-progress--circle .el-progress__text i{
    vertical-align: middle;
    display: inline-block;
}
.el-progress--without-text .el-progress__text{
    display: none;
}
.el-progress--without-text .el-progress-bar{
    padding-right: 0;
    margin-right: 0;
    display: block;
}
.el-progress--text-inside .el-progress-bar{
    padding-right: 0;
    margin-right: 0;
}
.el-progress-bar{
    padding-right: 50px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-right: -55px;
    box-sizing: border-box;
}
.el-progress-bar__outer{
    height: 6px;
    border-radius: 100px;
    background-color: rgb(228, 232, 241);
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.el-progress-bar__inner{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 2px 0 0 2px;
    background-color: #20a0ff;
    text-align: right;
    border-radius: 100px;
    line-height: 1;
}
.el-progress-bar__innerText{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
    margin: 0 5px;
}
@keyframes progress{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 32px 0;
    }
}
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}

.el-upload{
    width: 360px;
}

.el-upload__input{
    display: none;
}

.el-upload__inner{
    display: inline-block;
    position: relative;
}

.el-upload__inner iframe{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.el-upload__files{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
}

.el-upload__file{
    transition: all .5s cubic-bezier(.55,0,.1,1);
    font-size: 14px;
    color: rgb(72, 87, 106);
    line-height: 32px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.el-upload__file a {
    color: rgb(72, 87, 106);
    display: block;
    margin-right: 40px;
    overflow: hidden;
    padding-left: 4px;
    text-overflow: ellipsis;
    transition: color .3s;
    white-space: nowrap;
}

.el-upload__file a [class^="el-icon"] {
    color: rgb(151, 168, 190);
    margin-right: 7px;
    height: 100%;
    line-height: inherit;
}

.el-upload__file .el-progress-bar {
    margin-right: 0;
    padding-right: 0;
}

.el-upload__file .el-progress{
    position: absolute;
    bottom: -3px;
    width: 100%;
}

.el-upload__file .el-progress__text{
    position: absolute;
    right: 0;
    top: -10px;
    right: 0;
}

.el-upload__file:hover{
    background-color: rgb(238, 241, 246);
}

.el-upload__file.is-finished{}

.el-upload__file.is-finished a:hover{
    color: #20a0ff;
    cursor: pointer;
}

.el-upload__file.is-finished:hover .el-upload__btn-delete{
    display: block;
    cursor: pointer;
}

.el-upload__tip{
    font-size: 12px;
    color: rgb(131, 145, 165);
    margin-top: 7px;
}

.el-upload__btn-delete{
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 12px;
    color: #20a0ff;
    display: none;
}

.el-dragger{
    background-color: rgb(251, 253, 255);
    border: 1px solid rgb(191, 203, 217);
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.el-dragger .el-upload__inner{
    display: block;
    height: 100%;
}

.el-dragger .el-icon-upload{
    font-size: 67px;
    color: rgb(151, 168, 190);
    margin: 40px 0 16px;
    line-height: 50px;
}

.el-dragger + .el-upload__tip{
    text-align: center;
}

.el-dragger ~ .el-upload__files{
    margin-top: 7px;
    padding-top: 5px;
    border-top: 1px solid rgba(191, 203, 217, 0.2);
}

.el-dragger:not(.is-showCover):hover{
    border-color: #20a0ff;
}

.el-dragger.is-dragOver{
    background-color: rgba(32, 159, 255, .06);
    border: 2px dashed #20a0ff;
}

.el-dragger__cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    cursor: default;
}

.el-dragger__cover img{
    display: block;
    width: 100%;
    height: 100%;
}

.el-dragger__cover + .el-upload__inner{
    opacity: 0;
    position: relative;
    z-index: 1;
}

.el-dragger__cover__progress{
    display: inline-block;
    vertical-align: middle;
    position: static;
    width: 243px;
}

.el-dragger__cover__progress + .el-upload__inner{
    opacity: 0;
}

.el-dragger__cover__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.el-dragger__cover__interact{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    text-align: center;
}

.el-dragger__cover__interact .btn{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    margin-top: 60px;
}

.el-dragger__cover__interact .btn i{
    margin-top: 0;
}

.el-dragger__cover__interact .btn span{
    opacity: 0;
    transition: opacity .15s linear;
}

.el-dragger__cover__interact .btn:not(:first-child){
    margin-left: 35px;
}

.el-dragger__cover__interact .btn:hover{
    transform: translateY(-13px);
}

.el-dragger__cover__interact .btn:hover span{
    opacity: 1;
}

.el-dragger__cover__interact .btn i{
    color: #fff;
    display: block;
    font-size: 24px;
    line-height: inherit;
    margin: 0 auto 5px;
}

.el-dragger__cover__title{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    height: 36px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    text-align: left;
    padding: 0 10px;
    margin: 0;
    line-height: 36px;
    font-size: 14px;
    color: rgb(72, 87, 106);
}

.el-dragger__text{
    color: rgb(151, 168, 190);
    font-size: 14px;
    text-align: center;
}

.el-dragger__text em{
    color: #20a0ff;
    font-style: normal;
}
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}