// Body reset
@import "variables";

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: $font-family;
    font-size: $size-base;
    line-height: $line-height-base;
    color: $gray;
    background-color: $gary-lightest;
}

html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

// Links

a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

// Images

img {
    border: 0;
    vertical-align: top;
}

button { 
    cursor: pointer; 
}

i, em, cite {
    font-style: normal; 
}

p {
    margin: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px 0;
}
