@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin opacity($opacity:50) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}